<!-- <amplify-authenticator></amplify-authenticator> -->
<amplify-authenticator *ngIf="authState !== 'signedin'" theme={false} hideDefault={true}></amplify-authenticator>

<div *ngIf="authState === 'signedin' && user" class="App">
  <amplify-sign-out></amplify-sign-out>
  <div class="hello">Hello Mr. {{ user.username }}</div>
  <!-- <a [routerLink]="['/todo']">Todo Page</a> -->
  <button class="btn" (click)="gotoTodo()">Todo Page</button>
  <!-- <a href="/todo">Todo Page</a> -->
  <!-- This is where you application template code goes -->
</div>
